#myTest {
    font-size: large;
    margin: 25px;
}
#BooksList {
    font-size: large;
    margin: 25px;
}
body {
    background-image: url("Moby Dick.jpg");
    background-repeat: no-repeat;
    background-position: right;
   
  }